layout {
  pane stacked=true {
    pane {
      cwd "$HOME/dev/repos/stellar-photos/extension"
      command "nvim"
      name "Web Extension"
    }
    pane {
      cwd "$HOME/dev/repos/stellar-photos/server"
      command "nvim"
      name "Server"
    }
  }
  pane size=1 borderless=true {
      plugin location="zellij:compact-bar"
  }
}
